html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/*
The color: inherit; rule means that all links will inherit their text color from their parent 
elements. Without this rule, browsers usually apply their own default color to links 
(typically blue). The inherit value can be useful when you want your links to blend into the
surrounding text or when you want to control their color centrally using parent elements.

The text-decoration: none; rule is used to remove the default underline that appears under links.
This can be useful when you want more control over the appearance of your links. For example, you
might want to apply your own hover effects, or you might want to distinguish links using color alone.
*/
a {
  color: inherit;
  text-decoration: none;
}

/*
The * selector in CSS stands for a universal selector, which means it targets all elements in a document.

border-box: This is a box model introduced in CSS3. Here, the width and height properties include content,
padding, and border, but do not include the margin. This makes it easier to size elements, because you can
add padding and borders without increasing the total width or height of the elements.
(as opposed to the default box-sizing of content-box)

The rule * { box-sizing: border-box; } is often used in CSS resets and it's often seen as a best practice.
This is because it can make layout easier and more intuitive. Without this, if you set the width of an 
element to be 50% of its parent, but then also apply padding or borders, the actual space it takes up 
would be more than 50%, which can lead to unexpected layout issues. By setting everything to
box-sizing: border-box, you ensure that the padding and border are included in the width, which makes the 
element truly 50% of the parent width.

You might need to override the box-sizing value for specific elements.
*/

* {
  box-sizing: border-box;
}
