/* Brand Colors */
/*
#6D2164
#8D5286
#B28AAE
#D8C3D5
*/

/* Fonts */
/*
Bebas Neue Cyrillic
Bebas Neue
Archivo Narrow
*/

.container {
  padding: 0 0;
}

.headerImageContainer {
  position: relative;
  text-align: center;
  color: white;
}

.logoContainer {
  position: relative;
  text-align: center;
  color: white;
}

.companyTitle {
  color: #373737;
  font-size: 6vw;
  font-family: 'Archivo Narrow', sans-serif;
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
}

.slogan {
  color: #373737;
  font-size: 6vw;
  font-family: 'Archivo Narrow', sans-serif;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.link1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.textCF {
  color: #000000;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.textLeft {
  color: #000000;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 45%;
  backdrop-filter: blur(20px);
}

.textRight {
  color: #000000;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-right: 2%;
  margin-left: 70%;
  backdrop-filter: blur(20px);
}

.textSecondRep {
  color: #000000;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;

  /* color: white; */
  margin-left: 50px;
  margin-right: 50px;
  backdrop-filter: blur(10px);
}

.about {
  height: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  place-items: center;
  background-image: url("/2.jpg");
}

.rep2 {
  height: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  place-items: center;
  background-image: url("/3.jpg");
  margin-top: 10px;
}

.testimonial {
  height: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  place-items: center;
  background-image: url("/4.jpg");
  margin-top: 10px;
}

.right {
  place-items: right;
  margin-top: 10px;
  padding-left: 50%;
  width: 50%;
}

.testimonial2 {
  height: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  place-items: center;
  background-image: url("/1.jpg");
  margin-top: 10px;
}

.testimonial3 {
  height: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  place-items: center;
  background-image: url("/5.jpg");
  margin-top: 10px;
}

.textFirstRep {
  color: white;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  backdrop-filter: blur(10px);
}

.p1 {
  color: #6D2164;
  padding: 0 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.text1 {
  color: #000000;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.text2 {
  color: #8D5286;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.text3 {
  color: #B28AAE;
  font-family: 'Archivo Narrow', sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.text4 {
  color: #D8C3D5;
  font-family: 'Archivo Narrow', sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}