.container {
  padding: 0 0;
}

.headerimagecontainer {
  position: relative;
  text-align: center;
  color: white;
}

.logocontainer {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  color: #D8C3D5;
  font-size: 6vw;
  font-family: 'Archivo Narrow', sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.construction {
  color: #D8C3D5;
  font-size: 6vw;
  font-family: 'Archivo Narrow', sans-serif;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.box {
  aspect-ratio: 2/3;
  width: 30%;
  background-color: red;
}
.boxp1 {
  color: #6D2164;
  min-width: 400;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.link1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.box:before {
  aspect-ratio: 1/1;
  width: 30%;
  content: '';
  display: block;
  background: red;
}
.boxes {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.slogan {
  background-color: transparent;
}
.bc1 {
  color: #6D2164;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.bc1i {
  background-image: url("/atl.jpg");
}
.p1 {
  color: #6D2164;
  padding: 0 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.bc2 {
  color: #8D5286;
  font-family: 'Bebas Neue', cursive;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.bc3 {
  color: #B28AAE;
  font-family: 'Archivo Narrow', sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.bc4 {
  color: #D8C3D5;
  font-family: 'Archivo Narrow', sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
/* Brand Colors */
/*
#6D2164
#8D5286
#B28AAE
#D8C3D5
*/

/* Fonts */
/*
Bebas Neue Cyrillic
Bebas Neue
Archivo Narrow
*/